#play-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--page-padding);
  gap: 2rem;

  .score-input {
    margin: 0 25%;
    width: 50%;
  }

  .vkb {
    margin: 0 10%;
  }
}
