@import "primeng/resources/themes/lara-dark-amber/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";


:root {
  // PrimeNG vars
  //--text-color: #101010;	// Font text color.
  //--text-secondary-color: black;	//	Muted font text color with a secondary level.
  //--primary-color: #2a3c00;	//	Primary color of the theme.
  //--primary-color-text: black;	//	Text color when background is primary color.
  //--font-family: black;	//	Font family of the theme.
  //--inline-spacing: black;	//	Spacing between to adjacent items.
  //--border-radius: black;	//	Common border radius of elements.
  //--focus-ring: black;	//	Box shadow of a focused element.
  //--mask-bg: black;	//	Background of an overlay mask.
  //--highlight-bg: black;	//	Background of a highlighted element.
  //--highlight-text-color: black;	// Text color of a highlighted element.

  --border-color: #424b57;
  --page-padding: 1.5rem 2rem 1rem;
}


body {
  background: var(--surface-ground);
  height: 100vh;
  margin: 0;
}

span {
  &[primary] {
    color: var(--primary-color);
  }
}

/**********************************************************************************************************************/
/* pStyleClass and styleClass overrides */
.key-button {
  width: auto;
  font-size: inherit;

  .pi {
    font-size: inherit;
  }
}

/**********************************************************************************************************************/
/* primeNG style overrides */
.p-selectbutton.p-buttonset.p-component{
  display: flex;

  .p-ripple.p-element.p-button.p-component {
    flex: auto;
  }
}

.p-inputgroup > p-button button.p-button,
.p-inputgroup > p-inputnumber input.p-inputnumber-input {
  border-radius: 0;
  margin: 0;
}

.p-inputgroup > p-button:last-child button.p-button,
.p-inputgroup p-inputnumber:last-child input.p-inputnumber-input {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.p-inputgroup > p-button:first-child button.p-button,
.p-inputgroup p-inputnumber:first-child input.p-inputnumber-input {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}
